ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.secondary-title{
    width: 328px;
}

.primary-title{
    color: #282938;
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.secondary-title h3{
    color: #282938;
    font-size: 38px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.secondary-title p{
    color: rgba(40, 41, 56, 0.7);
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-top: 16px;
}