@media (min-width:320px) and (max-width:575.99px){
    /* ========================================
                NAVBAR PART
    ======================================== */
    .navbar-toggler{
        color: white;
        border: 1px solid transparent;
    }
    .navbar-toggler:focus{
        box-shadow: 0px 0px 0px transparent;
        outline: 0px !important;
    }
    .navbar-nav{
        background-color: #289198;
        border-radius: 10px;
        align-items: center;
        justify-content:center;
        row-gap: 15px;
        padding: 15px 0;
    }
    .nav-link{
        color: white !important;
        font-size: 14px;
    }
    .nav-item:hover .nav-link{
        color: white !important;
    }
    .navbar-collapse{
        background-color: #289198;
        border-radius: 10px;
        margin: 20px 0;
        
    }
    .nav-btn{
        padding: 12px 34px;
        font-size: 14px;
        margin-left: 0;
    }
    .button-box{
        text-align: center;
        margin-bottom: 15px;
    }
    /* ========================================
                BANNER PART
    ======================================== */
    .banner{
    padding: 90px 0;
    }
    .banner h1{
    font-size: 34px;
    line-height: 55px;
    text-align: center;
    }
    .banner p{
    width: auto;
    text-align: center;
    font-size: 14px;
    padding-bottom: 39px;
    }
    .banner .banner-btn{
    font-size: 14px;
    padding: 8px 20px;
    margin-left: -15px;
    }
    .banner .banner-btn:hover{
    color: #1B1C2B !important; 
    background-color: #FCD980;
    border: 1px solid transparent;
    }
    .banner .banner-btn-pricing{
    font-size: 14px;
    margin-left: 10px;
    }
    .banner .banner-btn-pricing:hover i{
    right: -20px;
    }
    .banner-content{
        text-align: center;
    }
    .banner .banner-img{
        text-align: center;
    }
    .banner img{
        width: 92%;
        margin-top: 50px;
    }
    /* ========================================
                WORK PART
    ======================================== */
    .work-part{
    padding: 90px 0;
    }
    .common-title h2{
    font-size: 36px;
    text-align: center;
    }
    .common-title p{
        font-size: 14px;
        width: auto; 
        text-align: center;
    }
    .work-part .get-in-touch-button{
        text-align: center;
        padding-bottom: 40px;
    }
    .work-part .get-in-touch-button i{
        color: transparent;
    }
    .work-part .col-lg-6{
        text-align: center;
        
    }
    .work-part .col-lg-7 .row{
    row-gap: 30px;
}
    .work-part .col-lg-7 h3{
        font-size: 28px;
        padding-top: 18px;
        padding-bottom: 5px;
    }
    .work-part .col-lg-7 p{
        font-size: 14px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        width: auto;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    /* ========================================
                PROJECT PART
    ======================================== */
    .project-part{
    padding: 70px 0;
    }
    .project-part .box{
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 30px;
    }  
    .project-part .row{
        margin: 0px;
    }
    .project-part .common-title h2{
        text-align: start;
    }
    .project-part .get-in-touch-button:hover i{
        left: 110px;
    }
    .project-part .project-content{
        margin-bottom: 20px;
    }
    .project-part .overlay{
        display: none;
    }
    .project-side-content .side-overlay{
        display: none;
    }
    /* ========================================
                FEATURE PART
    ======================================== */
    .feature-part{
    padding: 90px 0;
    }
    .feature-part .common-title h2{
        font-size: 30PX;
        text-align: center;
        line-height: 50px;
        width: auto;
        margin: auto;
    }
    .feature-part .card-img-top{
        padding-bottom: 20px;
    }
    .feature-part .card-title{
        font-size: 20px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        padding-top: 5px;
        padding-bottom: 12px;
    }
    .feature-part .card-text{
        font-size: 14px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        width: auto;
        line-height: 28px;
        padding-bottom: 0px !important;
    }
}