/* ========================================
                COMMON CSS PART
======================================== */
a{
    text-decoration: none;
}
nav{
    background: #1C1E53;
    padding: 16px 0px !important;
}
.box{
    display: flex;
    align-items: center;
}
.common-title h2{
    color: #282938;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 16px;
}
.common-title p{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    width: 405px; 
}
.get-in-touch-button{
    position: relative;
}
.get-in-touch-button a{
    color: #2405F2;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.get-in-touch-button i{
    color: #2405F2;
    position: absolute;
    top: 50%;
    left: 190px;
    transform: translateY(-50%);
    transition: 0.4s;
}
.get-in-touch-button:hover i{
    left: 210px;
}
/* ========================================
                NAVBAR PART
======================================== */
.navbar-nav{
    column-gap: 32px;
}
.nav-link{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #BBBBCB !important; 
    padding-right: 0px !important;
    padding-left: 0px !important;
    transition: 0.4s;
}
.nav-link:hover{
    color: #FFFFFF !important;
}
.nav-btn{
    color: white !important; 
    background-color: #1C1E53;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 16px 48px;
    border-radius: 41px;
    border: 1px solid rgba(244, 246, 252, 0.20);
    margin-left: 48px;
}
.nav-btn:hover{
    color: #FCD980 !important; 
    background-color: transparent;
    border: 1px solid #FCD980;
}
/* ========================================
                BANNER PART
======================================== */
.banner{
    background: #1C1E53;
    padding: 126px 0;
}
.banner h1{
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white; 
    line-height: 74px;
}
.banner p{
    width: 562px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.7);    
    line-height: 28px;
    padding-top: 24px;
    padding-bottom: 48px;
}
.banner .banner-btn{
    color: #1B1C2B !important; 
    background-color: #FCD980;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 16px 56px;
    border-radius: 41px;
    border: 1px solid transparent;
    transition: 0.4s;
    display: inline-block;
}
.banner .banner-btn:hover{
    color: #FCD980 !important; 
    background-color: transparent;
    border: 1px solid #FCD980;
}
.banner .banner-btn-pricing{
    color: white; 
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-left: 30px;
    position: relative;
    display: inline-block;
}
.banner .banner-btn-pricing i{
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    transition: 0.4s;
    opacity: 0;
}
.banner .banner-btn-pricing:hover i{
    right: -50px;
    opacity: 1;
}
/* ========================================
                WORK PART
======================================== */
.work-part{
    padding: 128px 0;
    background-color: #F4F6FC;
} 
.work-part .col-lg-7 .row{
    row-gap: 48px;
}
.work-part .col-lg-7 h3{
    color: #282938;
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 16px;
    padding-bottom: 8px;
}
.work-part .col-lg-7 p{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    width: 295px;
}
/* ========================================
                PROJECT PART
======================================== */
.project-part{
    padding: 128px 0;
}
.project-part .box{
    justify-content: space-between;
    align-items: center;
}
.project-part .get-in-touch-button{
    margin-right: 40px;
}
.project-part .get-in-touch-button a{
    color: #282938;
}
.project-part .get-in-touch-button i{
    color: #282938;
    left: 110px;
    transition: 0.4s;
}
.project-part .get-in-touch-button:hover i{
    left: 130px;
}
.project-part .project-content{
    position: relative;
    overflow: hidden;
}
.project-part .col-lg-8 img{
    width: 100%;
}
.project-part .overlay{
    width: 45%;
    height: 100%;
    background-image: linear-gradient(330deg, rgb(28, 30, 83), rgba(28, 30, 83, 0.42));
    position: absolute;
    top: 0;
    left: -45%;
    transition: 0.4s;
    padding-top: 312px;
    padding-left: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-part .project-content:hover .overlay{
    left: 0px;
    overflow: visible;
}
.project-part .overlay h4{
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 16px;
}
.project-part .overlay p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    width: 405px; 
}
.project-part .overlay .get-in-touch-button{
    position: relative;
}
.project-part .overlay .get-in-touch-button a{
    color: #FCD980;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.project-part .overlay .get-in-touch-button i{
    color: #FCD980;
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
    transition: 0.4s;
}
.project-part .overlay .get-in-touch-button:hover i{
    left: 140px;
}
.project-part .last-card{
    margin-top: 30px;
}

.project-side-content{
    position: relative;
    overflow: hidden;
}
.project-side-content .side-overlay{
    width: 98%;
    height: 100%;
    background-image: linear-gradient(330deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.42));
    position: absolute;
    top: 300px;
    left: 0px;
    transition: 0.4s;
    padding-top: 100px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-side-content:hover .side-overlay{
    top: 0px;
    overflow: visible;
}
.project-side-content .side-overlay h4{
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 16px;
}
.project-side-content .side-overlay .get-in-touch-button{
    position: relative;
}
.project-side-content .side-overlay .get-in-touch-button a{
    color: #FCD980;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.project-side-content .side-overlay .get-in-touch-button i{
    color: #FCD980;
    position: absolute;
    top: 50%;
    left: 130px;
    transform: translateY(-50%);
    transition: 0.4s;
}
.project-side-content .side-overlay .get-in-touch-button:hover i{
    left: 150px;
}
.last-overlay{
    margin-top: 30px;
}
/* ========================================
                FEATURE PART
======================================== */
.feature-part{
    background-color: #F4F6FC;
    padding: 128px 0;
}
.feature-part .row{
    row-gap: 24px;
    padding-top: 47px;
}
.feature-part .common-title p{
    font-weight: 500;
    text-align: center;
    width: auto;
}
.feature-part .common-title h2{
    font-weight: 600;
    text-align: center;
    width: 630px;
    margin: auto;
}
.feature-part .card{
    padding-top: 58px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 32px;
    border: 0px;
    border-radius: 0px;
}
.feature-part .card-body{
    padding: 0px !important;
}
.feature-part .card-img-top{
    width: 8%;
}
.feature-part .card-title{
    color: #282938;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 22px;
    padding-bottom: 12px;
}
.feature-part .card-text{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    width: 324.08px;
    line-height: 28px;
}
